@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Dark and light mode */
#light {
  --mainColor: #099;
  --hoverColor: #088178;
  --backgroundColor: #f1f8fc;
  --darkOne: #1a1a1a;
  --darkTwo: #222;
  --darkTree: #465b52;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

#dark {
  --mainColor: #099;
  --hoverColor: #088178;
  --backgroundColor: #192e3a;
  --darkOne: #fafafa;
  --darkTwo: #fff;
  --lightOne: #ccc;
  --lightTwo: #e7e3e3;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--darktwo);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: var(--darktwo);
}

h4 {
  font-size: 20px;
  color: var(--darktwo);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color:var(--darkTwo) ;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

.big-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--backgroundColor);

}
/* Header Start */
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: var(--backgroundColor);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.06);

}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--darkOne);
}

#navbar li a:hover,
#navbar li a.active{
  color: var(--hoverColor);
}

#navbar li a.active::after{
  content: "";
  width: 55%;
  height: 2px;
  background-color: var(--hoverColor);
  position: absolute;
  bottom: -4px;
  left: 20px;
}


/* toogle button */


.bottom-area {
  position: relative;
  bottom: 10px;
  left: 10px;
}

.toggle-btn {
  display: inline-block;
  border: none;
  background: var(--darkTwo);
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: 0.3s;
}

.toggle-btn i {
  line-height: 39px;
}

.toggle-btn:hover {
  background: var(--mainColor);
}
#light.bottom-area  .toggle-btn i:last-child {
  display: none;
}
#light.bottom-area  .toggle-btn i:first-child {
  display: block;
}
#dark .bottom-area .toggle-btn i:last-child {
  display: block;
}
#dark .bottom-area .toggle-btn i:first-child {
  display: none;
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}